[Unit]
Description=MinIO service
After=network.target

[Service]
User={{ user }}
Group={{ group }}
ExecStart={{ service.minio.execstart }}
Environment="MINIO_ROOT_USER={{ service.minio.username }}"
Environment="MINIO_ROOT_PASSWORD={{ service.minio.password }}"
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target